/* General Container */
.container {
    margin: 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: static;
}

/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 50px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bolder;
}

.menu-list {
    display: flex;
    list-style: none;
    font-size: 1.2rem;
}

.menu-list li {
    margin: 0px 0px;
    cursor: pointer;
    padding: 2px 15px;
    border-radius: 5px;
}

.menu-list li a:link {
    text-decoration: none;
    color: black;
}

.menu-list li:hover {
    background-color: rgb(184, 184, 184);
}

/* Mobile Menu List */
#menuList {
    list-style: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    position: fixed;
    width: 100px;
    right: 30px;
    top: 50px;
    padding: 10px 20px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    display: none;
}

#menuList li a:link {
    text-decoration: none;
    color: black;
}

#menuList li a:visited {
    color: black;
}

/* Hero Section */
.hero-section {
    display: flex;
    padding: 80px 0px;
    justify-content: space-around;
    align-items: center;
    font-size: 2.5rem;
    border-bottom: 1px solid black;
}

.profile-picture img {
    height: 450px;
    width: 450px;
    object-fit: cover;
    border-radius: 9999px;
}

#menu-btn {
    display: none;
}

/* Section Headers */
.section-header {
    padding: 0px 45px;
    font-size: 2rem;
}

/* About Section */
.about-section .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 20px;
    font-size: 1.2rem;
}
.about-section .about-image img {
    border-radius: 10px;
    width: 300px;
}

.about-section .about-text {
    width: 500px;
    text-align: left;
    line-height: 30px;
}

/* Skills Section */
.skills-section .content {
    display: flex;
    justify-content: space-around;
    gap: 200px;
    align-items: center;
    padding: 30px;
    border-bottom: 1px solid black;
    font-size: 1.2rem;
}
.skills-section .content div{
    padding: 0px 100px;
    display: flex;
    align-items: top;
    gap: 100px;
}

.skills-section h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.skills-section ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

.skills-section li {
    padding: 5px 0;
}
.skills-image img{
    height: 280px;
    width: 400px;
    object-fit: cover;
}

/* Works Section */
.works-section .content {
    padding: 30px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2rem;

}

.works-section li {
    padding: 5px 0;
}
.works-image img{
    height: 280px;
    width: 400px;
    object-fit: cover;
}

/* Contact Section */
.contact-section .content {
    padding: 30px;
    font-size: 1.2rem;
}

.contact-section ul {
    list-style: none;
}

.contact-section li {
    padding: 5px 0;
}

.contact-section li a {
    color: blue;
    text-decoration: none;
}

/* Responsive Design */
@media screen and (max-width: 650px) {
    .menu {
        display: none;
    }

    #menu-btn {
        display: block;
    }
    .profile-picture img {
        height: 300px;
        width: 300px;
        object-fit: cover;
        border-radius: 9999px;
    }
    .about-section{
        padding: 20px;
    }
    .about-section .about-image img,
    .skills-image img,
    .works-image img{
        width: 280px;
    }
    .about-section .about-text{
        text-align: left;
        line-height: 30px;
        width: 100px;
    }

}

@media only screen and (max-width: 1144px) {
    
    .hero-section {
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
        height: 80vh;
        justify-content: space-around;
        font-size: 1rem;
    }

   
    .navbar {
        padding: 20px;
        justify-content: space-between;
    }

    .about-section .content, 
    .skills-section .content,
    .works-section .content{
        flex-direction: column;
        gap: 60px;
    }

    .about-section .about-text, 
    .skills-section section,
    .contact-section .content {
        width: 100%;
        text-align: center;
    }
}
